.admin
  .text-center(*ngIf="($stage|async) === Stage.DEFAULT")
    p(*ngIf="!$isao.token")
      input([(ngModel)]="str", type="text", id="contractAddressInput", size="60", maxlength="42", placeholder="Enter token contract address here...")
      button(kendoButton, id="initContractFromAddressBtn", (click)="connectToken(str)") Подключить токен
    button.start-funding(*ngIf="$isao.token && !$admin.process.runningFunding", kendoButton, (click)="$admin.startFunding()") Start fund rising fase
    span.k-i-loading.k-icon(
      *ngIf="(!$isao.token && $admin.process.connectingToken) || $admin.process.runningFunding",
      style="font-size: 64px; color: #ff6358")
  .text-center(*ngIf="($stage|async) === Stage.RAISING")
    p
      input([(ngModel)]="str", type="text", id="contractAddressInput", size="20", maxlength="20", placeholder="Enter value in hours", style="margin: 10px")
      button(*ngIf="!$admin.process.runningTimeInc", kendoButton, id="initContractFromAddressBtn", (click)="incTimestamp(str)") Increase timestamp
      span.k-i-loading.k-icon(*ngIf="$admin.process.runningTimeInc", style="font-size: 24px; color: #ff6358")

    button.start-distribution(
      kendoButton,
      *ngIf="!$admin.process.runningDistribution && !$admin.process.runningMoneyback",
      (click)="$admin.startDistribution()") Start distribution fase
    span.k-i-loading.k-icon(
      *ngIf="$admin.process.runningDistribution",
      style="font-size: 24px; color: #ff6358")

    button.start-moneyback(
      kendoButton,
      *ngIf="!$admin.process.runningDistribution && !$admin.process.runningMoneyback",
      (click)="$admin.startMoneyback()") Start money back fase
    span.k-i-loading.k-icon(
      *ngIf="$admin.process.runningMoneyback",
      style="font-size: 24px; color: #ff6358")


