.tokens
  .tokens-inner
    //h2 Tokens
    mt-tabs((selected)="onTabChanged()")
      mt-tab(title="Tokens with dividends")
        .tokens-buttons
          a.tokens-buttons-add(href="javascript:void(0)", (click)="openAddTokenModal()", title="Create new subtoken")
            i.icon
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31.059 31.059" width="30px" height="30px">
                <g>
                  <g>
                    <path d="M15.529,31.059C6.966,31.059,0,24.092,0,15.529C0,6.966,6.966,0,15.529,0 c8.563,0,15.529,6.966,15.529,15.529C31.059,24.092,24.092,31.059,15.529,31.059z M15.529,1.774 c-7.585,0-13.755,6.171-13.755,13.755s6.17,13.754,13.755,13.754c7.584,0,13.754-6.17,13.754-13.754S23.113,1.774,15.529,1.774z" fill="#0da9ff"/>
                  </g>
                  <g>
                    <path d="M21.652,16.416H9.406c-0.49,0-0.888-0.396-0.888-0.887c0-0.49,0.397-0.888,0.888-0.888h12.246 c0.49,0,0.887,0.398,0.887,0.888C22.539,16.02,22.143,16.416,21.652,16.416z" fill="#0da9ff"/>
                  </g>
                  <g>
                    <path d="M15.529,22.539c-0.49,0-0.888-0.397-0.888-0.887V9.406c0-0.49,0.398-0.888,0.888-0.888 c0.49,0,0.887,0.398,0.887,0.888v12.246C16.416,22.143,16.02,22.539,15.529,22.539z" fill="#0da9ff"/>
                  </g>
                </g>
              </svg>
            span.label Add Token
        //-.tokens-sort
          label Sort by
          select([(ngModel)]="sortBy")
            option(*ngFor="let option of sortOptions, let i = index", [ngValue]="option") {{option.name}}
        .tokens-info.no_tokens(*ngIf="!tokens") You haven’t got any tokens.
        .tokens-list(*ngIf="tokens")
          perfect-scrollbar
            .token(*ngFor="let key of objectKeys(tokens) | orderBy:key:false")
              .token-number
                a((click)="showTokensTransactions(key)", href="javascript:void(0)", title="Show token transactions") 0x{{key}}
                | &nbsp;/&nbsp;
                a((click)="showDividendsTransactions(key)", href="javascript:void(0)", title="Show dividends transactions") {{fromWei(dividends[key])}} Eth
              .token-sum {{this.$form.from1E18(tokens[key].amount)}} tokens
              .token-sum(*ngIf="tokens[key].pending.length>0") Blocked: {{this.$form.from1E18(calculatePendings(tokens[key]))}}&nbsp;
                img(src="/assets/cool-spinner.gif", alt="transaction in process", width="21px")
              .token-controls
                span.token-send-dividends((click)="openDividendsModal(key, tokens[key])", title="Add dividends")
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 484.88 484.88" width="16px" height="16px">
                    <g>
                      <g>
                        <path d="M405.52,344.525l-27.12-27.6c-2.772-2.826-7.193-3.2-10.4-0.88l-118.16,87.04L208,383.405l36.72-4.08    c4.04-0.488,7.069-3.931,7.04-8v-34.56c0-4.418-3.582-8-8-8h-40l-67.36-6.88c-1.366-0.133-2.744,0.087-4,0.64l-45.92,19.68H0v16    h88.16c1.099,0.009,2.189-0.209,3.2-0.64l45.52-19.92l65.68,6.72h33.52v19.84l-29.6,3.68l-42.96-4.56    c-3.87-0.373-7.448,2.091-8.48,5.84c-1.042,3.735,0.745,7.68,4.24,9.36l88.72,40.8c2.617,1.19,5.671,0.885,8-0.8l116.32-85.44    l16,16.64l-133.68,116.8H218.4l-127.6-47.44c-0.892-0.353-1.841-0.543-2.8-0.56H0v16h86.64l127.52,47.52    c0.897,0.326,1.845,0.488,2.8,0.48h40.64c1.945-0.003,3.822-0.714,5.28-2l142.24-124.32c0.135-0.118,0.266-0.24,0.392-0.366    C408.639,352.717,408.642,347.651,405.52,344.525z" fill="#0da9ff"/>
                      </g>
                    </g>
                    <g>
                      <g>
                        <path d="M426.8,202.525l-42.24-43.92c-1.345-1.426-3.167-2.309-5.12-2.48l-86.4-8h-32.96l1.6-24l31.28-6.32l43.68,9.76    c0.9,0.155,1.82,0.155,2.72,0l42.48-5.04l-1.92-16l-41.12,4.4l-44-9.76c-1.076-0.278-2.204-0.278-3.28,0l-38.96,8    c-3.587,0.687-6.253,3.715-6.48,7.36l-2.56,38.96c-0.01,0.165-0.015,0.329-0.014,0.494c0.008,4.418,3.596,7.994,8.014,7.986h40.8    l82.72,7.52l42.56,44.56c1.503,1.576,3.583,2.472,5.76,2.48H480v-16H426.8z" fill="#0da9ff"/>
                      </g>
                    </g>
                    <g>
                      <g>
                        <path d="M412.88,35.965c-0.884-0.716-1.926-1.21-3.04-1.44l-136-32c-2.304-0.483-4.703,0.073-6.56,1.52l-88,64l9.44,12.96    l85.04-61.84l130.72,30.72l70.64,54.96l9.76-12.88L412.88,35.965z" fill="#0da9ff"/>
                      </g>
                    </g>
                    <g>
                      <g>
                        <path d="M282.96,51.405c-2.086-0.938-4.474-0.938-6.56,0l-48,24l7.2,14.24l44.8-22.32l36.64,14.96l5.92-14.88L282.96,51.405z" fill="#0da9ff"/>
                      </g>
                    </g>
                    <g>
                      <g>
                        <path d="M200.24,140.045l-14.08-2.08c-6.4-0.96-10.16-3.44-10.16-7.44s5.6-8,13.12-7.6h5.76c7.52,0,13.12,4,13.12,7.6v2.16h16    v-2.16c0-13.6-12.8-24-29.12-24h-5.76c-16.32,0-29.12,10.4-29.12,24c1.313,12.477,11.474,22.165,24,22.88l13.84,2.08    c6.4,0.96,10.16,3.84,10.16,7.44c0,3.6-5.6,7.6-13.12,7.6h-5.76c-7.52,0-13.12-4-13.12-7.6v-2.16h-16v2.16    c0,13.2,13.12,23.6,29.12,23.6h5.76c16.32,0,29.12-10.4,29.36-23.2C223.112,150.691,212.903,140.788,200.24,140.045z" fill="#0da9ff"/>
                      </g>
                    </g>
                    <g>
                      <g>
                        <path d="M255.44,154.925c-2.909,21.76-16.768,40.51-36.716,49.675c-32.118,14.757-70.118,0.682-84.875-31.436    s-0.682-70.118,31.436-84.875c32.118-14.757,70.118-0.682,84.875,31.436l14.48-6.72c-13.075-28.334-41.432-46.48-72.638-46.48    c-44.183-0.001-80.001,35.816-80.001,79.999c-0.001,44.183,35.816,80,79.999,80.001c40.154,0.07,74.14-29.637,79.44-69.44    L255.44,154.925z" fill="#0da9ff"/>
                      </g>
                    </g>
                    <g>
                      <g>
                        <rect x="184" y="98.53" width="16" height="16" fill="#0da9ff"/>
                      </g>
                    </g>
                  </svg>
                span.token-get-dividends((click)="openWithdrawModal(key, tokens[key])", title="Withdraw dividends")
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 334.877 334.877" width="16px" height="16px">
                    <g>
                      <path d="M333.196,155.999h-16.067V82.09c0-17.719-14.415-32.134-32.134-32.134h-21.761L240.965,9.917   C237.571,3.798,231.112,0,224.107,0c-3.265,0-6.504,0.842-9.364,2.429l-85.464,47.526H33.815   c-17.719,0-32.134,14.415-32.134,32.134v220.653c0,17.719,14.415,32.134,32.134,32.134h251.18   c17.719,0,32.134-14.415,32.134-32.134v-64.802h16.067V155.999z M284.995,62.809c9.897,0,17.982,7.519,19.068,17.14h-24.152   l-9.525-17.14H284.995z M220.996,13.663c3.014-1.69,7.07-0.508,8.734,2.494l35.476,63.786H101.798L220.996,13.663z    M304.275,302.742c0,10.63-8.651,19.281-19.281,19.281H33.815c-10.63,0-19.281-8.651-19.281-19.281V82.09   c0-10.63,8.651-19.281,19.281-19.281h72.353L75.345,79.95H37.832c-3.554,0-6.427,2.879-6.427,6.427s2.873,6.427,6.427,6.427h14.396   h234.83h17.217v63.201h-46.999c-21.826,0-39.589,17.764-39.589,39.589v2.764c0,21.826,17.764,39.589,39.589,39.589h46.999V302.742z    M320.342,225.087h-3.213h-59.853c-14.743,0-26.736-11.992-26.736-26.736v-2.764c0-14.743,11.992-26.736,26.736-26.736h59.853   h3.213V225.087z M276.961,197.497c0,7.841-6.35,14.19-14.19,14.19c-7.841,0-14.19-6.35-14.19-14.19s6.35-14.19,14.19-14.19   C270.612,183.306,276.961,189.662,276.961,197.497z" fill="#0da9ff"/>
                    </g>
                  </svg>
                span.token-transfer((click)="openTransferModal(key, tokens[key])", title="Transfer tokens")
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                    <g fill="#0DA9FF" fill-rule="evenodd">
                      <path d="M7 16H1a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v6a1 1 0 0 1-1 1M15.978 0H9l2.789 2.797-3.496 3.496 1.414 1.414L13.2 4.214 15.978 7z"></path>
                    </g>
                  </svg>


      //mt-tab(title="Dividends")
        .tokens-info.no_tokens(*ngIf="!tokens") You haven’t got any tokens.
        .tokens-list(*ngIf="tokens")
          perfect-scrollbar
            .token(*ngFor="let key of objectKeys(dividends) | orderBy:sortBy.id:sortBy.reverse")
              .token-number
                a((click)="showDividendsTransactions(key)", href="javascript:void(0)", title="Show") type {{key}}
              .token-sum {{dividends[key]}} Wei
              //-.token-sum(*ngIf="tokens[key].pending.length>0") Blocked: {{calculatePendings(tokens[key])}} tokens
              //-  img(src="/assets/spinner.gif", alt="transaction in process")
              .token-controls
                span.token-transfer((click)="openWithdrawModal(key, tokens[key])", title="Withdraw dividends")
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                    <g fill="#0DA9FF" fill-rule="evenodd">
                      <path d="M7 16H1a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v6a1 1 0 0 1-1 1M15.978 0H9l2.789 2.797-3.496 3.496 1.414 1.414L13.2 4.214 15.978 7z"></path>
                    </g>
                  </svg>
